# Ignorar la carpeta DDEV
.ddev/

# Ignorar dependencias de Composer
vendor/

# Ignorar archivos subidos
web/sites/default/files/

# Otros archivos de Composer y configuraciones innecesarias
composer.lock
